@import '../../node_modules/vuetify/src/styles/tools/_functions.sass';

$mob-app: () !default;
$mob-app: map-deep-merge(
  (
    'background': #FAF3F3
  ),
  $mob-app
);

$body-font-family: 'Inter', sans-serif !default;
$material-light: ('background': map-get($mob-app, 'background'));
$text-field-filled-full-width-outlined-dense-slot-min-height: 36px !default;
$text-field-filled-full-width-outlined-slot-min-height: 36px !default;
$text-field-enclosed-prepend-append-margin-top: 9px !default;
$text-field-dense-label-active-transform: translateY(-23px) scale(.75) !default;
$text-field-filled-margin-top: 4px !default;